<div class='col-lg-12'>
    <div class="card rounded-0 mt-5 mb-5">
        <div class='card-body'>
            <h2 class='text-center'>Customer Details</h2>
            <div class="row">
                <div class="col-lg-6 bg-light">
                    <h3>Personal Information</h3>
                    <p class='load'><strong>First Name: </strong><%= current_user.first_name %></p>
                    <%# <p class='load'><strong>Middle Name: </strong>= current_user.middle_name.present? ? current_user.middle_name : 'NA'</p> %>
                    <p class='load'><strong>Last Name: </strong><%= current_user.last_name %></p>
                    <p class='load'><strong>Email: </strong><%= current_user.email %></p>
                </div>
            
            </div>
            <%= link_to 'Back ',root_path, class:'btn btn-outline-primary btn-lg rounded-0'%>
            <%# <%= link_to 'Edit', edit_user_path(@user), class:'btn btn-primary btn-lg rounded-0'%> 
        </div>
    </div>
    <%= link_to 'Addresses',addresses_path, class:'btn btn-primary btn-lg rounded-0'%>
    <%= link_to 'Add Address',new_address_path, class:'btn btn-primary btn-lg rounded-0'%>
</div> 
