<p class="border-top border-dark border-2 rounded-pill"></p>
<h3 class="text-center">Items Added</h3>
<p class="border-top border-dark border-2 rounded-pill"></p>
<% @cart_items.each do |cart_item| %><br/>
  <%# <div class="cart-item"> %>
  <div class="row">
  <div class="col-sm-9 p-3">
    <h4><%= cart_item.food.name %></h4> 
    <p>Price: <%= number_to_currency(cart_item.food.price) %></p> 
  </div>
  <div class="col-3 p-3 mb-2">
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <%= button_to '-', decrement_quantity_path(cart_item), method: :patch, type:"button", class:"btn btn-outline-primary" %>
        <button type="button" class="btn btn-outline-primary"><%= cart_item.quantity %></button>
        <%= button_to '+', increment_quantity_path(cart_item), method: :patch, type:"button", class:"btn btn-outline-primary" %>
      </div>
         <button  class="btn btn-danger" id="<%=cart_item.id%>", onclick="delete_cart_item(this)">Delete</button>
      <br/><br/>
    </div>
    </div>
<% end %><br/>
 <%= link_to "Add More Item", restaurants_path, class: "btn btn-info" %> 
<br><br>
<p class="border-top border-dark border-2 rounded-pill"></p>
<h3 class="text-center">Bill Summary</h3>
<p class="border-top border-dark border-2 rounded-pill"></p>
<% if current_user.cart.cart_items %>
  <table class="table">
    <thead >
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.cart.cart_items.each do |item| %>
        <tr>
          <td ><%= item.food.name %></td>
          <td><%= item.quantity %></td>
          <td><%= (item.food.price * item.quantity) %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2">Subtotal:</td>
        <td><%= (current_user.cart.subtotal) %></td>
      </tr>
      <tr>
        <td colspan="2">Total:</td>
        <td><%=(current_user.cart.total) %></td>
      </tr>
    </tbody>
  </table>
<% else %>
  <p>Your cart is empty.</p>
<% end %>
<p class="border-top border-dark border-2 rounded-pill"></p>
<h3 class="text-center">Your Details</h3>
<p class="border-top border-dark border-2 rounded-pill"></p>
<%= current_user.addresses.default.first.name %><br/>
<%= current_user.addresses.default.first.email %><br/>
<%= current_user.addresses.default.first.full_address %>
<br/><br/>
<%= link_to 'Addresses',addresses_path, class:'link-underline-light"'%>
<br/><br/>
<%= button_to "Place Order", orders_path(total_amount: current_user.cart.total, order_items: current_user.cart.cart_items), method: :post, class: "btn btn-primary d-grid gap-2" %><br/>


<script>
  function delete_cart_item(e) {
    // debugger
    var url = "/cart_items/" + e.id
    // console.log(url)
    // debugger

    $.ajax({
      url: url,
      method: 'delete', 
      dataType: "json",
      success:function(data) {
        if(data.message == 'success') {
          // console.log(document.getElementById(data.body.id));          
          document.getElementById(data.body.id)
          e.parentElement.parentElement.remove();
        }
      }
    })
  }
</script>