<h1>Order Confirmation</h1>
<p>Thank you for your order! Your order has been confirmed and will be delivered soon.</p>
<h1>Order Details</h1>
<h2>Order Id: <%= @order.id %></h2>
<p><strong>Email: </strong><%= @user.email %></p>
<%# <p><strong>Restaurant:</strong> <%=@order.restaurant.name</p> %> %>
<p><strong>Delivery Address: </strong> <%= @user.addresses.default.first.full_address %></p>

<h2>Items:</h2>

 <table class="table table-borderless ">
    <thead >
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_items.each do |item| %>
        <tr>
          <td ><%= item.food.name %></td>
          <td><%= item.quantity %></td>
          <td><%= (item.food.price * item.quantity) %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2">Total:</td>
        <td><%=(@order.total_amount) %></td>
      </tr>
    </tbody>
</table>

