<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <!-- Jumbotron -->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%#= render partial: "shared/form_errors", locals: { object:@user} %>
  <% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
     <div class="alert alert-danger" ><%= message %></div>
    <% end %>
  </ul>
<% end %>
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Sign up</h2>
            <form>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <%= form.label :"First Name" %>
                    <%= form.text_field :first_name, required: true, id:"form3Example1", class:"form-control" %>
                    <%# <input type="text" id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">First name</label> %>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <%= form.label :"Last Name" %>
                    <%= form.text_field :last_name, required: true, id:"form3Example1", class:"form-control"  %>
                    <%# <input type="text" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">Last name</label> %>
                  </div>
                </div>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <%= form.label :email %>
                <%= form.email_field :email, required: true, class:"form-control", id:"exampleInputEmail1" %>
                <%# <input type="email" id="form3Example3" class="form-control" />
                <label class="form-label" for="form3Example3">Email address</label> %>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <%= form.label :password %>
                <%= form.password_field :password, required: true, class:"form-control", id:"exampleInputEmail1" %>
                <%# <input type="password" id="form3Example4" class="form-control" />
                <label class="form-label" for="form3Example4">Password</label> %>
              </div>

              <div class="form-outline mb-4">
                <%= form.label :password_confirmation %>
                <%= form.password_field :password_confirmation, required: true, class:"form-control", id:"exampleInputEmail1" %>
                <%# <input type="password" id="form3Example4" class="form-control" />
                <label class="form-label" for="form3Example4">Password</label> %>
              </div>

              <!-- Checkbox -->
              <%# <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                <label class="form-check-label" for="form2Example33">
                  Subscribe to our newsletter
                </label>
              </div> %>

              <!-- Submit button -->
              <%# <button type="submit" class="btn btn-primary btn-block mb-4"> %>
                 <%= form.submit "Sign Up", class:"btn btn-primary btn-block mb-4" %>
              <%# </button> %>

              <!-- Register buttons -->
              <%# <div class="text-center">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div> %>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="https://i.pinimg.com/550x/bf/26/26/bf2626ec294125c6312bcf12fc6a26f6.jpg" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
<% end %>

  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->